/node_modules
/public/hot
/public/themes/default/css/images
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/uploads
/run
/public/product-image
/app/Site/Resources/views/themes/custom_*/
/public/themes/custom_*/
/resources/views/_cache/*
.DS_Store
/mysql_data